.use-instructions {
  display: none;
}

.use-instructions.no-search {
  display: block;
}

.infusion-center {
  margin-top: 30px;
}

.infusion-center .has-error {
  border: 2px solid #f00 !important;
}

.infusion-center .deep-blue {
  color: #440099;
  font-weight: 700;
  font-size: 18px;
}

@media (max-width: 1024px) {
  .infusion-center .deep-blue {
    margin-right: 15px;
  }
}

@media (max-width: 767px) {
  .infusion-center .deep-blue {
    min-width: 100%;
    margin-bottom: 10px;
    margin-right: 0;
  }
}

.infusion-center .cyan {
  color: #14a6b8;
}

.infusion-center .d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: -15px;
  margin-right: -15px;
}

.infusion-center .search {
  margin-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  max-width: 100%;
}

.infusion-center .search h4 {
  display: none;
  cursor: pointer;
}

.infusion-center .search.no-search {
  max-width: 50%;
}

@media (max-width: 767px) {
  .infusion-center .search.no-search {
    max-width: 100%;
  }
}

.infusion-center .search.no-search h4 {
  display: none;
}

.infusion-center .search.no-search .desc {
  display: block;
}

@media (max-width: 1024px) {
  .infusion-center .search.no-search .deep-blue {
    min-width: 100%;
    margin-bottom: 10px;
  }
}

.infusion-center .search .form-group {
  width: 116px;
  height: 32px;
  overflow: hidden;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  border-radius: 1px;
  border: 1px solid #ddd;
  margin: 0px 20px;
}

.infusion-center .search .form-group select {
  cursor: pointer;
}

.infusion-center .search .form-group .form-control {
  width: 145px;
  height: 32px;
  border: 0;
  border-radius: 0;
  background: #f6f6f6;
  color: #6d6e71;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-bottom: 0;
  font-family: Arial;
}

.infusion-center .search .form-group.miles .select-wrapper:after {
  font-family: 'Glyphicons Halflings';
  content: "\e252";
  color: #c1c1c1;
}

@media (max-width: 1024px) {
  .infusion-center .search .form-group.miles {
    margin-left: 0;
  }
}

.infusion-center .search .main-btn {
  min-width: 165px;
  font-family: "Bd";
  font-weight: 400;
  font-size: 18px;
  min-width: auto;
  padding: 13px 40px;
}

@media (max-width: 1024px) {
  .infusion-center .search .main-btn {
    margin: 15px 70px;
  }
}

.infusion-center .search .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.infusion-center .search .desc {
  display: none;
}

.infusion-center .search .desc p {
  font-size: 12px;
}

.infusion-center .tabs.no-search {
  display: none !important;
}

.infusion-center .tabs ul {
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 5px solid #6e9b02;
}

.infusion-center .tabs ul li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

.infusion-center .tabs ul li span {
  background: #b7b7b7;
  display: block;
  color: #fff;
  cursor: pointer;
  padding: 10px 0 3px 0;
  -webkit-transition: all 500ms ease-in;
  transition: all 500ms ease-in;
}

.infusion-center .tabs ul li.active span {
  background: #6e9b02;
}

.infusion-center .tabs ul li:first-child {
  margin-right: 15px;
}

.infusion-center .left-side, .infusion-center .right-side {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 767px) {
  .infusion-center .left-side, .infusion-center .right-side {
    max-width: 100% !important;
  }
}

.infusion-center .left-side {
  max-width: 44%;
}

.infusion-center .left-side.no-search {
  display: none;
}

.infusion-center .left-side .no-result {
  padding: 0 30px;
  border-top: 2px solid #789a3d;
}

.infusion-center .left-side .no-result h4 {
  margin-top: 30px;
}

.infusion-center .left-side .result {
  max-height: 658px;
  overflow-y: auto;
  /* width */
  /* Track */
  /* Handle */
}

.infusion-center .left-side .result::-webkit-scrollbar {
  width: 10px;
}

.infusion-center .left-side .result::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.infusion-center .left-side .result::-webkit-scrollbar-thumb {
  background: #440099;
}

.infusion-center .left-side .result h2 {
  display: none;
}

.infusion-center .left-side .result .views-row {
  display: none;
}

.infusion-center .left-side .result article {
  margin-top: 0;
  padding: 26px 30px;
  border-top: 2px solid #789a3d;
}

.infusion-center .left-side .result article .address.city, .infusion-center .left-side .result article .address.state {
  float: left;
  margin-right: 5px;
}

.infusion-center .left-side .result article .address.city:after {
  content: ', ';
  display: inline;
}

.infusion-center .left-side .result article .directions {
  margin-top: 15px;
}

.infusion-center .left-side .result article .directions .sep {
  color: #c1c1c1;
}

.infusion-center .left-side .result article .directions .get-directions {
  cursor: pointer;
}

.infusion-center .left-side .result article .all-center-deatils {
  cursor: pointer;
}

.infusion-center .left-side .result article .center-detail {
  display: none;
}

.infusion-center .left-side .result article .center-detail.field--name-field-monday-friday {
  margin-top: 15px;
}

.infusion-center .left-side .result article .center-detail .field--label {
  font-weight: 100;
}

.infusion-center .right-side {
  max-width: 48%;
}

.infusion-center .right-side.no-search .map {
  display: none;
}

.infusion-center .right-side.no-search .green-box {
  margin: 0 auto;
}

.infusion-center .right-side .map {
  height: 370px;
}

.infusion-center .right-side .map iframe {
  width: 100%;
}

.infusion-center .right-side .green-box {
  max-width: 500px;
  margin: 30px auto 0 auto;
  border: 2px solid #789a3d;
  padding: 15px;
}

.infusion-center .right-side .green-box p {
  margin-top: 10px;
  font-family: Bd;
  font-size: 16px;
}

.infusion-center .right-side .green-box h3 {
  font-size: 20px;
  font-family: Bd;
}

.infusion-center .right-side .link {
  font-size: 10px;
  font-family: Roman;
  margin-top: 10px;
}

.result.hide ~ .nica {
  display: none;
}
/*# sourceMappingURL=infusion.css.map */