#webform-submission-sign-up-for-updates-node-33-add-form,
#webform-submission-infusion-center-registration-node-34-add-form {
  margin-top: 30px;
}

#webform-submission-sign-up-for-updates-node-33-add-form .control-group .help-inline, #webform-submission-sign-up-for-updates-node-33-add-form .help-block,
#webform-submission-infusion-center-registration-node-34-add-form .control-group .help-inline,
#webform-submission-infusion-center-registration-node-34-add-form .help-block {
  color: #4d4d4f;
  margin-bottom: 0;
  margin-top: 0;
}

#webform-submission-sign-up-for-updates-node-33-add-form .form-required::after,
#webform-submission-infusion-center-registration-node-34-add-form .form-required::after {
  display: none;
}

#webform-submission-sign-up-for-updates-node-33-add-form fieldset,
#webform-submission-infusion-center-registration-node-34-add-form fieldset {
  margin-bottom: 20px;
}

#webform-submission-sign-up-for-updates-node-33-add-form #edit-i-am-a---wrapper legend,
#webform-submission-infusion-center-registration-node-34-add-form #edit-i-am-a---wrapper legend {
  font-size: 1.5em;
}

#webform-submission-sign-up-for-updates-node-33-add-form #edit-i-am-a---wrapper .control-label,
#webform-submission-infusion-center-registration-node-34-add-form #edit-i-am-a---wrapper .control-label {
  position: relative;
  color: #440099;
  font-family: Bd;
  margin: 0;
  padding: 18px 44px 15px;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

@media (min-width: 992px) {
  #webform-submission-sign-up-for-updates-node-33-add-form #edit-i-am-a---wrapper .control-label,
  #webform-submission-infusion-center-registration-node-34-add-form #edit-i-am-a---wrapper .control-label {
    padding: 18px 50px 15px;
  }
}

@media (max-width: 767px) {
  #webform-submission-sign-up-for-updates-node-33-add-form #edit-i-am-a---wrapper .control-label,
  #webform-submission-infusion-center-registration-node-34-add-form #edit-i-am-a---wrapper .control-label {
    padding-right: 0;
    padding-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 56px;
    text-align: center;
  }
}

#webform-submission-sign-up-for-updates-node-33-add-form #edit-i-am-a---wrapper .control-label .checker,
#webform-submission-infusion-center-registration-node-34-add-form #edit-i-am-a---wrapper .control-label .checker {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  border: 2px solid #b2cf36;
  z-index: -1;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

#webform-submission-sign-up-for-updates-node-33-add-form #edit-i-am-a---wrapper .control-label input,
#webform-submission-infusion-center-registration-node-34-add-form #edit-i-am-a---wrapper .control-label input {
  opacity: 0;
  cursor: pointer;
  position: absolute;
  z-index: -2;
}

#webform-submission-sign-up-for-updates-node-33-add-form #edit-i-am-a---wrapper .control-label input:checked ~ .checker,
#webform-submission-infusion-center-registration-node-34-add-form #edit-i-am-a---wrapper .control-label input:checked ~ .checker {
  background: #440099;
  border-color: #440099;
}

#webform-submission-sign-up-for-updates-node-33-add-form #edit-i-am-a---wrapper .control-label.checked,
#webform-submission-infusion-center-registration-node-34-add-form #edit-i-am-a---wrapper .control-label.checked {
  color: #fff;
}

#webform-submission-sign-up-for-updates-node-33-add-form #edit-i-am-a---wrapper .control-label:hover,
#webform-submission-infusion-center-registration-node-34-add-form #edit-i-am-a---wrapper .control-label:hover {
  color: #fff;
}

#webform-submission-sign-up-for-updates-node-33-add-form #edit-i-am-a---wrapper .control-label:hover input ~ .checker,
#webform-submission-infusion-center-registration-node-34-add-form #edit-i-am-a---wrapper .control-label:hover input ~ .checker {
  background: #b2cf36;
  background-color: #b2cf36;
}

@media (max-width: 767px) {
  #webform-submission-sign-up-for-updates-node-33-add-form #edit-i-am-a---wrapper .form-item,
  #webform-submission-infusion-center-registration-node-34-add-form #edit-i-am-a---wrapper .form-item {
    display: block;
    margin: 0;
    min-width: 48%;
    max-width: 48%;
    margin-bottom: 15px;
  }
}

@media (max-width: 767px) {
  #webform-submission-sign-up-for-updates-node-33-add-form #edit-i-am-a---wrapper .js-webform-radios,
  #webform-submission-infusion-center-registration-node-34-add-form #edit-i-am-a---wrapper .js-webform-radios {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
  }
}

#webform-submission-sign-up-for-updates-node-33-add-form .form-item input, #webform-submission-sign-up-for-updates-node-33-add-form select,
#webform-submission-infusion-center-registration-node-34-add-form .form-item input,
#webform-submission-infusion-center-registration-node-34-add-form select {
  border-radius: 0;
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: #e6e7e9;
  color: #727375;
}

#webform-submission-sign-up-for-updates-node-33-add-form .select-wrapper:after,
#webform-submission-infusion-center-registration-node-34-add-form .select-wrapper:after {
  font-family: 'Glyphicons Halflings';
  content: "\e252";
  color: #c1c1c1;
}

#webform-submission-sign-up-for-updates-node-33-add-form .form-item.form-type-checkbox,
#webform-submission-infusion-center-registration-node-34-add-form .form-item.form-type-checkbox {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  margin-bottom: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#webform-submission-sign-up-for-updates-node-33-add-form .form-item.form-type-checkbox label,
#webform-submission-infusion-center-registration-node-34-add-form .form-item.form-type-checkbox label {
  width: 25px;
  height: 25px;
}

#webform-submission-sign-up-for-updates-node-33-add-form .form-item.form-type-checkbox label:after,
#webform-submission-infusion-center-registration-node-34-add-form .form-item.form-type-checkbox label:after {
  display: none;
}

#webform-submission-sign-up-for-updates-node-33-add-form .form-item.form-type-checkbox .description,
#webform-submission-infusion-center-registration-node-34-add-form .form-item.form-type-checkbox .description {
  margin: 0;
  font-size: 16px;
  line-height: 16px;
  margin-left: 15px;
  font-family: Roman;
}

@media (max-width: 767px) {
  #webform-submission-sign-up-for-updates-node-33-add-form .form-item.form-type-checkbox .description,
  #webform-submission-infusion-center-registration-node-34-add-form .form-item.form-type-checkbox .description {
    font-size: 14px;
  }
}

#webform-submission-sign-up-for-updates-node-33-add-form .form-item.form-type-checkbox input,
#webform-submission-infusion-center-registration-node-34-add-form .form-item.form-type-checkbox input {
  opacity: 0;
  cursor: pointer;
}

#webform-submission-sign-up-for-updates-node-33-add-form .form-item.form-type-checkbox .checker-box,
#webform-submission-infusion-center-registration-node-34-add-form .form-item.form-type-checkbox .checker-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  background: #e6e7e9;
}

#webform-submission-sign-up-for-updates-node-33-add-form .form-item.form-type-checkbox .checker-box:after,
#webform-submission-infusion-center-registration-node-34-add-form .form-item.form-type-checkbox .checker-box:after {
  content: "";
  position: absolute;
  display: none;
}

#webform-submission-sign-up-for-updates-node-33-add-form .form-item.form-type-checkbox input:checked ~ .checker-box:after,
#webform-submission-infusion-center-registration-node-34-add-form .form-item.form-type-checkbox input:checked ~ .checker-box:after {
  display: block;
}

#webform-submission-sign-up-for-updates-node-33-add-form .form-item.form-type-checkbox .checker-box:after,
#webform-submission-infusion-center-registration-node-34-add-form .form-item.form-type-checkbox .checker-box:after {
  left: 9px;
  top: 5px;
  width: 7px;
  height: 12px;
  border: solid #727375;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

#webform-submission-sign-up-for-updates-node-33-add-form .form-item.form-type-checkbox.optional,
#webform-submission-infusion-center-registration-node-34-add-form .form-item.form-type-checkbox.optional {
  display: block;
}

#webform-submission-sign-up-for-updates-node-33-add-form .form-item.form-type-checkbox.optional label span:nth-child(2),
#webform-submission-infusion-center-registration-node-34-add-form .form-item.form-type-checkbox.optional label span:nth-child(2) {
  margin-left: 20px;
  font-weight: 700;
}

#webform-submission-sign-up-for-updates-node-33-add-form .form-item.form-type-checkbox.optional .description,
#webform-submission-infusion-center-registration-node-34-add-form .form-item.form-type-checkbox.optional .description {
  margin-left: 40px;
}

#webform-submission-sign-up-for-updates-node-33-add-form #edit-actions,
#webform-submission-infusion-center-registration-node-34-add-form #edit-actions {
  text-align: center;
}

#webform-submission-sign-up-for-updates-node-33-add-form #edit-actions button,
#webform-submission-infusion-center-registration-node-34-add-form #edit-actions button {
  border-radius: 0;
  background: #440099;
  color: #fff;
  font-size: 18px;
  line-height: 1;
  padding: 20px 50px;
  font-family: Bd;
}

@media (max-width: 767px) {
  #webform-submission-sign-up-for-updates-node-33-add-form #edit-actions button,
  #webform-submission-infusion-center-registration-node-34-add-form #edit-actions button {
    font-size: 16px;
  }
}

#webform-submission-sign-up-for-updates-node-33-add-form input.required.error, #webform-submission-sign-up-for-updates-node-33-add-form select.required.error,
#webform-submission-infusion-center-registration-node-34-add-form input.required.error,
#webform-submission-infusion-center-registration-node-34-add-form select.required.error {
  border: 2px solid #f00;
}

#webform-submission-sign-up-for-updates-node-33-add-form .has-error .help-block,
#webform-submission-infusion-center-registration-node-34-add-form .has-error .help-block {
  color: inherit;
}

#webform-submission-sign-up-for-updates-node-33-add-form .input-err-msg,
#webform-submission-infusion-center-registration-node-34-add-form .input-err-msg {
  display: none;
}

#webform-submission-sign-up-for-updates-node-33-add-form .has-error .input-err-msg,
#webform-submission-infusion-center-registration-node-34-add-form .has-error .input-err-msg {
  display: block;
  color: #f00;
}

#webform-submission-sign-up-for-updates-node-33-add-form .has-error .input-err-msg:before,
#webform-submission-infusion-center-registration-node-34-add-form .has-error .input-err-msg:before {
  content: '*';
  display: inline-block;
  position: relative;
  top: 2px;
  font-size: 18px;
}

#webform-submission-infusion-center-registration-node-34-add-form {
  margin-top: -15px;
}

#webform-submission-infusion-center-registration-node-34-add-form select.error {
  border: 2px solid #f00;
}

#webform-submission-infusion-center-registration-node-34-add-form .ff-Roman {
  font-weight: 100;
  color: #4d4d4f;
}

#webform-submission-infusion-center-registration-node-34-add-form .webform-flexbox {
  margin-bottom: 15px;
  margin-top: 0;
  width: 100%;
}

#webform-submission-infusion-center-registration-node-34-add-form .webform-flexbox label {
  margin: 0;
}

#webform-submission-infusion-center-registration-node-34-add-form .webform-flexbox .webform-flex--container {
  height: 100%;
}

#webform-submission-infusion-center-registration-node-34-add-form .webform-flexbox .checkbox {
  margin: 0;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  #webform-submission-infusion-center-registration-node-34-add-form .webform-flexbox .checkbox {
    margin-top: 5px;
    margin-bottom: 20px;
  }
}

#webform-submission-infusion-center-registration-node-34-add-form .webform-flexbox .checkbox .checker-box {
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

#webform-submission-infusion-center-registration-node-34-add-form .day-hours > div:first-child {
  min-width: 100px;
}

#webform-submission-infusion-center-registration-node-34-add-form .day-hours {
  margin-bottom: 15px;
  margin-left: 30px;
}

#webform-submission-infusion-center-registration-node-34-add-form .day-hours label {
  font-family: Lt;
  font-weight: 100;
}

#webform-submission-infusion-center-registration-node-34-add-form .day-hours .form-type-checkbox {
  margin-left: 35px;
}

#webform-submission-infusion-center-registration-node-34-add-form .day-hours .form-type-checkbox .description {
  margin-left: 0 !important;
  font-family: Lt;
}

@media (max-width: 767px) {
  #webform-submission-infusion-center-registration-node-34-add-form .day-hours .form-type-checkbox .description .form-group {
    margin-bottom: 0;
  }
}

#webform-submission-infusion-center-registration-node-34-add-form .day-hours select {
  height: 30px;
}

#webform-submission-infusion-center-registration-node-34-add-form .day-hours .checker-box {
  width: 17px !important;
  height: 17px !important;
}

#webform-submission-infusion-center-registration-node-34-add-form .day-hours .checker-box:after {
  left: 5px !important;
  top: 1px !important;
}

@media (max-width: 767px) {
  #webform-submission-infusion-center-registration-node-34-add-form .day-hours {
    margin-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #webform-submission-infusion-center-registration-node-34-add-form .day-hours > div:first-child {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
  }
  #webform-submission-infusion-center-registration-node-34-add-form .day-hours > div:last-child {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  #webform-submission-infusion-center-registration-node-34-add-form .day-hours label {
    font-size: 14px;
  }
  #webform-submission-infusion-center-registration-node-34-add-form .day-hours .form-type-checkbox {
    margin-left: 0px;
    margin-top: 0;
    margin-bottom: 0;
  }
}

#webform-submission-infusion-center-registration-node-34-add-form .contact-information-label {
  display: block;
  font-family: Lt;
  font-weight: 100;
  font-style: italic;
  margin-bottom: 15px;
}

#webform-submission-infusion-center-registration-node-34-add-form .hours-of-operation {
  font-family: Lt;
  font-weight: 100;
  display: block;
  margin-top: 25px;
  font-size: 16px;
  margin-bottom: 15px;
}

#webform-submission-infusion-center-registration-node-34-add-form #edit-actions button {
  margin-top: 45px;
  margin-bottom: 45px;
}

@media (max-width: 767px) {
  #webform-submission-infusion-center-registration-node-34-add-form .form-group {
    margin-bottom: 9px;
  }
}

.err-msg .alert {
  padding: 0;
  border: 0;
  border-radius: 0;
  background: transparent;
  color: #f00;
}

.err-msg .close {
  display: none;
}

.err-msg h4 {
  font-size: 16px;
  margin: 0;
}

.err-msg h4:before {
  content: '*';
  display: inline-block;
  position: relative;
  top: 2px;
  font-size: 25px;
  margin-right: 2px;
}

.err-msg ul {
  padding: 0;
  list-style: none;
}

.err-msg ul li {
  padding-left: 15px;
}

.err-msg ul li:before {
  content: '-';
  display: inline-block;
  margin-right: 5px;
}

.select-wrapper::after {
  z-index: 1;
}
/*# sourceMappingURL=signup-webform.css.map */